<section class="products">
  <app-carousel></app-carousel>

    <div id="dmr" style="text-align: center;">
        <div>
            <h1 class="category-title">
                DMR
            </h1>
        </div>
        <div class="band" >
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031496005.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031496005.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031496005.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031496005.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031496005.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031496005.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031496005.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
        </div>
    </div>

    <div id="poc" style="text-align: center;">
        <div>
            <h1 class="category-title">
                PoC
            </h1>
        </div>
        <div class="band" >
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/04/2022030478003.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/04/2022030478003.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/04/2022030478003.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/04/2022030417858.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/04/2022030417858.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/04/2022030465955.jpg);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
        </div>
    </div>

    <div id="analog" style="text-align: center;">
        <div>
            <h1>
                Analog
            </h1>
        </div>
        <div class="band" >
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031416946.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031416946.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031416946.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031416946.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031483242.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-04/11/202204119609.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-04/11/202204119609.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-04/11/202204119609.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
        </div>
    </div>

    <div id="multimode" style="text-align: center;">
        <div>
            <h1>
                Multimode
            </h1>
        </div>
        <div class="band" >
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2021-07/16/2021071637964.jpg);">
                    </div>
                    <article>
                        <div>
                            <h1>BF-RA301L</h1>
                            <span>BF-TD516LF
                                License Free Portable Radio</span>
                        </div>
                    </article>
                </a>
            </div>
            <div class="item">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://www.belfone.com/u_file/fileUpload/2022-03/14/2022031496005.webp);">
                    </div>
                    <article>
                        <h1>BF-RA301L</h1>
                        <span>BF-TD516LF
                            License Free Portable Radio</span>
                    </article>
                </a>
            </div>
        </div>
    </div>

</section>
