.products{
}

.block1 {
  background-image: url("../../../../../assets/images/FONDO\ REPETIDORA.jpg");
 height: 550px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}

.title {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  z-index: 1;
  font-weight: 300;
}

.background {
  backdrop-filter: saturate(50%) blur(20px);
  backdrop-filter: hue-rotate(90deg) saturate(30%);
  backdrop-filter: saturate(30%);
  backdrop-filter: brightness(45%);
  background: radial-gradient(circle at 100px 100px, #334c92, #031523);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 1rem auto;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
    min-height: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
    padding: 20px;
    display: flex;

    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}
.card .thumb {
    padding-bottom: 100%;
    background-size: cover;
    background-position: center center;
}

.card p {
    flex: 1;
    line-height: 1.4;
}



.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}

.category-title{
  padding: 2rem 5%;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
  text-align: left;
}

@media (max-width: 768px) {
    .band {
        grid-template-columns: 1fr 1fr ;
    }
}

@media (max-width: 426px) {
    .band {
        grid-template-columns: 1fr;
    }
}
