<div class="banner">

  <div id="particles-js">
    <div class="background"></div>
    <div class="content">
      <div class="logo" fadeInAnimation [duration]="1" [delay]="1" [fromX]="300" [toX]="0">
        <img src="../../../../../assets/images/logo-white.png" alt="" srcset="">
      </div>
      <div class="text">
        <h1 fadeInAnimation [duration]="1" [delay]="1" [fromX]="-300" [toX]="0">
          Innovación, desarrollo y producción en telecomunicación</h1>
        <!-- <a class="calltoaction" href="">Contactanos</a> -->
        <a href="#" class="animated-button1" fadeInAnimation [duration]="1" [delay]="2" [fromX]="-300" [toX]="0">
          <span></span>
          <span></span>
          Contactanos
        </a>
      </div>
    </div>
  </div>
  <div class="city">
    <img src="../../../../../assets/images/city.png" alt="" srcset="">
  </div>
</div>
