.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#particles-js {
  overflow: hidden;
  background: radial-gradient(circle at 100px 100px, #1c2a52, #031523);
  height: 100%;
  width: 100%;
  background-color: #01101f;
}

#particles-js .content {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: auto;
  width: 600px;
  margin: 2rem;
}

.city {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: none;
}

.city img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

.text {
  width: 100%;
  color: #fff;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

///////////////////

.animated-button1 {
  background: linear-gradient(-30deg, #4a0b0b 50%, #4a0b0b 50%);
  padding: 20px 40px;
  margin: 12px 0;
  display: inline-block;
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 20px;
  width: auto;
  max-width: 300px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 20px 50px rgb(0 0 0 / 50%);
  border-radius: 50px;
  font-weight: 700;
  transition: .2s;
}

.animated-button1::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #f60302;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.animated-button1::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #f60302;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.animated-button1:hover::before,
.animated-button1:focus::before {
  opacity: 1;
}

.animated-button1::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #f60302;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.animated-button1:hover::after,
.animated-button1:focus::after {
  animation: none;
  display: none;
}

.background {
  backdrop-filter: saturate(50%) blur(20px);
  backdrop-filter: hue-rotate(90deg) saturate(30%);
  backdrop-filter: saturate(30%);
  backdrop-filter: brightness(45%);
  background: radial-gradient(circle at 100px 100px, #334c92, #031523);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.animated-button1:hover,
.animated-button1:focus {
  color: #ffffff;
  font-weight: 700;
  transition: .2s;
  background: black;
}
