<div class="banner">
    <div class="text">
        <h1
        fadeInAnimation
        [duration]="1"
        [delay]="1"
        [fromX]="-300"
        [toX]="0"
        >
        Innovación, desarrollo y producción en telecomunicación</h1>
        <!-- <a class="calltoaction" href="">Contactanos</a> -->
        <a href="#" class="animated-button1"
        fadeInAnimation
        [duration]="1"
        [delay]="1"
        [fromX]="-300"
        [toX]="0"
        >
            <span></span>
            <span></span>
            Contactanos
        </a>
    </div>
    <div id="particles-js"
    fadeInAnimation
    [duration]="1"
    [delay]="1"
    [fromX]="300"
    [toX]="0">
        <div class="logo">
            <img src="../../../../../assets/images/logo-rojo-silver.png" alt="" srcset="">
        </div>
    </div>
    <div class="city">
        <img src="../../../../../assets/images/city.png" alt="" srcset="">
    </div>
</div>



