.navbar {
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 5;
  transition: .2s linear;

  &-left {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }
  &-right {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  &-item {
    margin: 10px;
    text-decoration: none;
    color: inherit;
  }

  &-logo {
    height: auto;
    width: 10rem;
  }
}
