<div id="footer">
  <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 item text">
            <h3>config.name</h3>
            <p>config.bio</p>
          </div>

          <div class="col-md-2"></div>

          <div class="col-md-4 item text">
            <h3>Dirección</h3>
            <p>config.address</p>
          </div>

          <div class="col-12 item social">
            <a href="config.socialLinks.facebook">
<!--               <fa-icon [icon]="faFacebookF"></fa-icon>
 -->            </a>
            <a href="config.socialLinks.instagram">
<!--               <fa-icon [icon]="faInstagram"></fa-icon>
 -->            </a>
            <a href="config.socialLinks.twitter">
<!--               <fa-icon [icon]="faTwitter"></fa-icon>
 -->            </a>
            <a href="config.socialLinks.whatsapp">
<!--               <fa-icon [icon]="faWhatsapp"></fa-icon>
 -->            </a>
            <a href="mailto:'arturo.linares@grupoconsutel.com'">
<!--               <fa-icon [icon]="faEnvelope"></fa-icon>
 -->            </a>
          </div>
        </div>
        <p class="copyright">
          SOFTBIZ | Designed With by <a href="#">SOFTBIZ</a>
        </p>
      </div>
    </footer>
  </div>
</div>
