<div id="footer">
  <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="grid">
          <div class="col-12 item text" style="text-align: center;">
            <img src="../../../../../assets/images/logo-rojo.png" alt="logo" />
            <!-- <h6>Contáctanos</h6> -->
            <p> <span>Av. Bolívar, Distribuidor Tapa Tapa
                Maracay Edo. Aragua. Venezuela</span> </p>
            <p><span>contacto@vation.com</span> </p>
            <p> <span>+58 412 965 87 38</span></p>
          </div>

          <!-- <div class="col-3">

          </div>

          <div class="col-3 block item text">
            <div class="content">
              <h3>Compañía</h3>
              <div class="content-text">
                <a routerLink="/preguntas-frecuentes" routerLinkActive="active">
                  Preguntas frecuentes
                </a>
                <a routerLink="/contacto" routerLinkActive="active">
                  Contactos
                </a>
                <a routerLink="/nosotros" routerLinkActive="active">
                  Sobre nosotros
                </a>
              </div>
            </div>
          </div> -->

          <div class="col-12 item social">
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
          </div>

          <!-- <div class="col-12 item social">
            <a href='https://www.facebook.com/ConsulPagosVzla/' target="_blank">
              <fa-icon [icon]="faFacebookF"></fa-icon>
            </a>
            <a href='https://www.instagram.com/consulpagos/' target="_blank">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a href='https://wa.me/c/584126476701' target="_blank">
              <fa-icon [icon]="faWhatsapp"></fa-icon>
            </a>
          </div> -->
        </div>
        <div>
          <p class="copyright">© 2022 Copyright: Vation C.A. RIF: J-11111111-1.</p>
          <p class="copyright_2">
            Todos los derechos
            reservados.
          </p>
          <div class="footer-softbiz">
            <p class="copyright_3">Desarrollado por </p><a href="https://softbiz.dev/" class="name_company"
              target="_blank"><img src="../../../../../assets/svg/softbiz.svg" alt=""></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
