.slogan{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //background: url("../../../../../assets/images/FONDO\ REPETIDORA.jpg");
    // background-size: cover;
    // background-position: center;
    // background-attachment: fixed;
    background-color: white;
    color: black;
    z-index: 2;
}

.slogan p{
    font-size: 30px;
    font-weight: 400;
    max-width: 800px;
    text-align: center;
}

.slogan .logo{
  margin-top: 40px;
  max-width: 400px;
  margin-bottom: 20px;
}
