<article>
    <section style="    margin: 0;
    width: 100%;">
        <div>
            <img src="../../../../../assets/images/logo-rojo-silver.png" alt="" style="width: 300px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas perferendis atque obcaecati
                sequi tempore, minus labore quis similique consequatur quas alias illum dolore laborum dolorum velit
                officiis, ea sit.</p>
        </div>
    </section>

    <section style="    margin: 0;
    width: 100%;">
        <div>
            <h2>MISIÓN</h2>
            <p>Somos un equipo encargado de innovar, desarrollar y producir soluciones tecnólogicas que permitan
                satisfacer las necesidades de nuetsros clientes. </p>
        </div>
    </section>

    <section style="    margin: 0;
    width: 100%;">
        <div>
            <h2>VISIÓN</h2>
            <p>Ser líderes en el mercadeo nacional e internacional con productos y servicios de alta calidad
                comprometidos con el desarrollo y crecimiento del país</p>
        </div>
    </section>

    <section style="    margin: 0;
    width: 100%;">
        <div>
            <h2>VALORES</h2>
            <p>HONESTIDAD, COMPROMISO, PROFESIONALISMO, RESPONSABILIDAD</p>
        </div>
    </section>

</article>