<swiper class="mySwiper" [autoplay]="{
  delay: 2500,
  disableOnInteraction: false
}" [pagination]="{
  clickable: true
}">
  <ng-template swiperSlide>
    <div class="card" style="background-image: url('../../../../../assets/images/FONDO\ CM-21.jpg');">
      <div class="card-content">
        <h1 class="card-title">CM - 21 </h1>
        <h3 class="card-subtitle">Radio digital        </h3>
        <p class="card-description">Radio práctico de alta frecuencia y con diseño resistente a condiciones ambientales exigentes.</p>
        <a class="card-calltoaction" href="http://">Información</a>
      </div>
      <div class="background"></div>

    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card" style="background-image: url('../../../../../assets/images/FONDO\ AV-35.jpg');">
      <div class="card-content">
        <h1 class="card-title">AV - 35</h1>
        <h3 class="card-subtitle">Radio de dos vías.</h3>
        <p class="card-description">Radio de largo alcance, diseñado para el uso intensivo con una comunicación segura.</p>
        <a class="card-calltoaction" href="http://">Información</a>
      </div>
      <div class="background"></div>

    </div>
    
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
      <div class="card-content">
        <h1 class="card-title">CM - 21 </h1>
        <h3 class="card-subtitle">Radio digital        </h3>
        <p class="card-description">Radio práctico de alta frecuencia y con diseño resistente a condiciones ambientales exigentes.</p>
        <a class="card-calltoaction" href="http://">Información</a>
      </div>
    </div>
  </ng-template>
</swiper>