<div id="particles-js">
  <div class="background"></div>

</div>

<swiper class="mySwiper">
  <ng-template swiperSlide>
    <div class="card">
      <h1 class="card-title">Un maravilloso titulo!</h1>
      <h3 class="card-subtitle">Un subtitilo</h3>
      <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="card-calltoaction" href="http://">Un boton</a>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
     <h1 class="card-title">Un maravilloso titulo!</h1>
      <h3 class="card-subtitle">Un subtitilo</h3>
      <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="card-calltoaction" href="http://">Un boton</a>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card">
     <h1 class="card-title">Un maravilloso titulo!</h1>
      <h3 class="card-subtitle">Un subtitilo</h3>
      <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="card-calltoaction" href="http://">Un boton</a>
    </div>
  </ng-template>
</swiper>
