<div class="services">
  <swiper
    class="mySwiper"
    [slidesPerView]="'auto'"
    [spaceBetween]="0"
    [pagination]="{
      clickable: true
    }"
    [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }"
    [loop]="true"

  >
    <ng-template swiperSlide>
      <app-service-card
        [title]="'RADIO ANALÓGICO'"
        [img]="'../../../../../assets/images/FONDO AV-35.jpg'"
        [description]="
          'Radio de largo alcance, diseñado para el uso intensivo con una comunicación segura.'
        "
      >
      </app-service-card>
    </ng-template>

    <ng-template swiperSlide>
      <app-service-card
        [title]="'Radio digital'"
        [img]="'../../../../../assets/images/FONDO CM-21.jpg'"
        [description]="
          'Radio práctico de alta frecuencia, con diseño resistente a condiciones ambientales exigentes.'
        "
      >
      </app-service-card>
    </ng-template>
    <ng-template swiperSlide>
      <app-service-card
        [title]="'Repetidoras'"
        [img]="'../../../../../assets/images/FONDO REPETIDORA.jpg'"
        [description]="' Comunicación Avanzada.'"
      >
      </app-service-card
    ></ng-template>
  </swiper>
</div>
