.video{
  height: 800px;
  width: 100%;
  background-color: white;
  position: relative;
}

.video video{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}

.background {
  backdrop-filter: saturate(50%) blur(20px);
  backdrop-filter: hue-rotate(90deg) saturate(30%);
  backdrop-filter: saturate(30%);
  backdrop-filter: brightness(20%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.video .text-1{
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 60px;
  font-weight: 700;
  max-width: 500px;
  color: white;
  text-transform: uppercase;
}
